flask==2.2.2
pre-commit
pylint
flask_cors==3.0.10
selenium==4.5.0
beautifulsoup4==4.11.1
transformers==4.23.1
tensorflow==2.10.1
# chromedriver-binary==108.0.5359.22.0
pymongo==4.3.2
rake_nltk==1.0.6
requests==2.28.1
